@charset "utf-8";
/*CSS Document*/
body{
background-color: PaleTurquoise;
color:DarkSlateblue;
text-align: center;
padding: 5px;
}

header{
background-color: mediumaquamarine;
padding: 5px;
}
ul a{
color: white;
text-decoration: none;
}
li{
display: inline-block;
height: 55px;
width: 200px;
padding: 12px;
text-align: center;
color: white;
font-size: 20px;
font-family: "Verdana", cursive;
border-left: 4px solid salmon;
border-right: 3px solid salmon;
background-color: olive;
margin-bottom: 40px;
margin-top: 35px;
}
li:hover{
background-color: mediumorchid;
border-style: none;
}
h1{
margin-left: 50px;
font-size: 50px;
font-family: "Verdana", cursive;
}
footer{
background-color: mediumaquamarine;
color: DarkBlue;
height: 30px;
    background: red;
padding: 5px;
}
figure{
margin-bottom: 40px;
}
table.spreadsheet {
    border: 1px solid #a6aac6;
    border-collapse: collapse;
    margin-left: 520px;
}


table.spreadsheet td {
    border: 1px solid #a6aac6;
    text-align: right;
    padding: 0.2em;
}

table.spreadsheet th {
    border: 1px solid #828282;
    background-color: #cbcbcb;
    font-weight: bold;
    text-align: center;
    padding:  0.2em;
}

table.spreadsheet caption {
    font-size: larger;
    font-weight: bold;
    background-color: #bcbcbc;
    color:  #111;
    padding:  0.4em 0 0.4em 0;
    caption-side: bottom;
}

table.spreadsheet tr:hover {
    background-color: #DFE7F2;
    color: #000000;
}
button:active{
background-color: DarkRed;
color: white;
border-radius: 4px; box-shadow: inset 2px 2px 5px gold;
}
